//-------------------------------------------------------------------------------
  @name: Single Participants
  -------------------------------------------------------------------------------//

//single-participants
.single.single--participants
  .container
    .single__content
      section.single__side
        include sidenav.pug
        include ../components/address.pug
      section.single__participants
        .single__head
          h2.single__category !{data.category}
        .single__body
          figure.single__img
            =`\n`
            img.single__img__el(src='assets/img/dummy/'+data.img, alt=data.title)/
          h1.single__title !{data.title}
          .single__content
            h2 Andra Matin Architects in collaboration with BDD2020 present the artworks lorem ipsum dolor sit amet, consectetur adipiscing elit.
            p Andra Matin – both the man and the firm, andramatin, are known for their clean and modern approach to architecture. The works of andramatin has been a constant reflection of contemporary take on traditional values, that are based on its context and its sensitivity to the environment. Aside from his architectural projects, Andra Matin is also one of the founders of Arsitek Muda Indonesia (AMI – eng: Young Architects of Indonesia), and has been a part of the progress in Indonesian architecture. He also have released books under a.publication that opens up discussions about architecture, along with being a frequent lecturer at universities, seminars, and architectural events both in Indonesia and in international events. His latest  installation titled Elevation has been granted a Special Mention Award at the 16th Venice Biennale, for its traditional sense and its contemporary take. Inspired by his great love of travel, Andra Matin continues to search out more knowledge and experiences, in order to further celebrate the architecture of Indonesia.
            h3 Gallery
      section.single__related
        h2.single__related__title !{data.side.title}
        .single__related__list
          each val in data.side.list
            -
              item = val
            include ../components/card-primary.pug
        =`\n`
        a.single__related__action.btn.btn--primary(href=data.side.to) See All
///single-participants
